{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}
    
    <div id="listadoHome" class="row">

    </div>

{% endblock %}
{% block javascripts %}
    <script src="/js/home.js"></script>
{% endblock %}