{% extends 'base.html.twig' %}

{% block title %}Hello MultimediaController!{% endblock %}
{% block body %}

    <div class="row p-5">
        <div class="col-12">
            <button id="btnNuevo" type="button" class="btn btn-success">Nuevo</button>
        </div>
    </div>
    <div class="row p-5">        
        <div class="col-12">
            <div class="row">
                <div class="col-3"></div><br><br>
                <div class="col-2">Nombre</div><br><br>
                <div class="col-2">Articulo</div><br><br>
                <div class="col-1"></div>
                <div class="col-1"></div>
            </div>
        </div>
        <div id="listaArticulo" class="col-12">

        </div>
        <div id="pagArticulo" class="col-12">

        </div>
    </div>    

{% endblock %}
{% block javascripts %}
    <script src="/js/multimedia.js"></script>
{% endblock %}